
.row{
    /* overflow: auto; */
}


/*  ====================HEADER and FOOTER======================= */
header{
    color:black;
    background-color: rgb(45,178,171);
    height: 100px;
    width:100%;
    text-decoration-color: #005cbf;
    text-shadow: 3px 2px gray;
   
}

footer{
    color:black;
    background-color: rgb(45,178,171);
    height: 100px;
    font-size: 20px;
    padding-top: 30px;
    text-align:center;
}
.headerPicture{
    margin-left: 5px;
    margin-top:10px;
    float: left;
    height: 80px;
    width: 80px;

}
.headerDiv{
    display:inline;
     margin-left:10px;
     margin-right:10px
}
.headerNaslov{
  
    font-weight: 400;
    letter-spacing: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    text-align:center;
    margin-right:100px;;
    
}

/* ==================HOME================== */

.content {
    height: 768px;
}
.home{
    float: left;
    width: 100%;
    background-image: url(../images/proba1.jpg);
    background-repeat: no-repeat;
}

.homeButton{
    background-color: rgb(237,219,53);
    border: grey;
    color: black;
}
.buttonStart{
    width: 200px;
    height: 70px;
    font-size: 30px;
    margin:10px;
    margin-left: 40px;
}
.loginButton {
    margin-top: -150px;
    margin-left:10px;
}
.navigation {
    width: 100%;
    float: right;
    text-align: right;
    margin:15px;
}
.welcomeText{
    width: 50%;
    margin: 50px;
    margin-top:120px;
    font-size: 15px;;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeTitle {
    text-align: center;
}
.homeBody{
    text-align: left;
    margin-top: 30px;
    text-align: justify
}
.buttons{
    margin-left:8%;
    float:left;
}
.link{
    color:grey;
    text-decoration: none;
}
.homeButton:hover {
    background: rgb(237,219,53);
}
.homeButton:click {
    background: yellow;
}
.link:hover {
    text-decoration: none;
    color:grey;
}


/* ===========TAKMICENJA============= */


.takmicenja{
    background:#EEE8AA;
    height: 800px;
    
}
.sidebarFilter{
    height: 800px;
    padding: 0;
    padding-top: 30px; 
    margin: 0;
    background: rgb(236, 236, 247);
    text-align: center;
}
.headerFilter{
    /* height:150px; */
    height: 800px;
    background:floralwhite;
    /* overflow: auto; */
}
.filterTitle{
    /* font-family: cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}
.sadrzaj{

  
}
.filterItem{
    float:left;
    margin-left:30px;
    
}
.predmeti{
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    /* font-family: cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: justify;
}
.predmeti:hover{
    background-color: yellow;
}
.backFilter{
    margin-bottom: 40px;
    text-align: right;
    background:  rgb(45,178,171);
    color:yellow;
}

.headFilterTitle{
    overflow: auto;
    /* font-family: cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.link2{
    color:black;
}
.link2:hover {
    text-decoration: none;
    color:grey;
}
.items{
    margin: 10px 10px 10px 15%;
}
.form-control{
    margin-top: 7px;
}
.aaaa{
    margin-top: 120px;
    overflow: auto;
    height: 650px;
}
.takmicenjeItem{
    height: 120px;
    border: 1px solid rgb(45,178,171);
    margin: 10px 5px 10px 5px;
    width: 98%;
    text-align: center;
}
.ItemParaf{
    padding-top: 10px;
    font-family: "Bookman Old Style";
    font-size: 20px; 
    color:grey;
 
}
.aaaa::-webkit-scrollbar {
    width: 12px;
}
.aaaa::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.aaaa::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: rgb(237,219,53);
}



/* ================MODAL===================*/
.modal-body {
    
    overflow: auto;
}
#nazivModal {
    color:grey;
    float: right;

}

/* ================TAKMICARI===================*/

.selectFilter{
   margin-top:30px;

}
.selectBorder{
    border-radius: 30px;
    border: 1.5px dashed #AAA;
    margin :5px;
    padding-bottom: 50px;
}
.selectTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    /* margin-top: 4px; */
  
}
.selectText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}
.selectOptions {
    /* -webkit-appearance: button; */
    /* -moz-appearance: button; */
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: rgb(237,219,53); /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, white, white); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, white, white); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, white, white); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, white, white); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, white, white); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: 1px solid #AAA;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow:visible;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: auto;
    white-space: nowrap;
    /* moje */
    width:180px;
    margin:10px;
}

.inputSearchT{
    width: 350px;
    margin:30px;
    margin-left:30%;
    margin-right: 30%;
    
}
.takmicariBody{
    height: 800px;
    background:floralwhite;
    overflow: auto;

}
.takmicar{
    border: 1.5px solid lightgray;
    border-radius:15px; 
    width: 270px;
    height: 250px;
    float:left;
    padding: 10px;
    margin:10px;
}

p h6{
    display: inline;
}
.takmicarContent{
    overflow: auto;
    height: 100px;
}
.takmicarHead{
    height: 38px;
} 
.takmicarHead i{
    float: left;
    margin:5px;
}
.block{
    
    color:#464242;
}
.grupaTakmicara{
    margin:50px;
}

.osnovneInformacije{
    margin:10px;
}

.osnovneInformacije div{
   
    font-size: 18px;
}

.takmicariBody::-webkit-scrollbar {
    width: 12px;
}
.takmicariBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.takmicariBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: rgb(237,219,53);
}

/* ================LOG IN I SIGN IN===================*/
.labelL{
    font-family: Poppins-Regular;
    font-size: 17px;
    color: #fff;
    line-height: 1.2;
    margin-left:15px;
}
.containerL{
    margin-top:15px;
    margin-bottom: 10px;
}
.itemL{
    margin-top:10px;
}
.selectL{
    width:100%;
    margin-right: 10px;
}

/*=====================PROFESOR=======================*/

.profContent{

    height: 800px;
    overflow: auto;
    
}
.profItems{
    background: floralwhite;
    overflow: auto;

}

.profB{
    margin-right:10px;

}
.dgm{
    background:lightgray;
  
}
.searchL{
    margin:10px;
    width:300px;
}
.addL{
    background:  rgb(236, 236, 247);
    padding: 20px;
}
.formaL{
    margin-bottom: 40px;
    width:70%
}
.in{
  
    margin:5px;
}
.tx{
    margin-left:7px;
}
.sakriveno{
    visibility: hidden;
}
.dobroDosao{
    font-size: 20px;

}
.alert{
    font-size: 25px;
    margin:0px;
    padding-top:10px;
    width: 100%;
    text-align: center;
    height: 70px;
}



/*====================ORGANIZATOR==============*/
.orgTakm{
    height: 800px;
}

.orgLeft{
    background: floralwhite;
    padding: 0px;

}

.orgRight{
    background:  rgb(236, 236, 247);
}

.kartice{
    background: floralwhite;
    width: 100%;
    height:auto;
    margin:0px;
    overflow: auto;
    max-height: 795px;
}
.karticaTitle{

    text-align: center;
    margin:40px;
    text-decoration: underline;
}
.aaa{
    margin:8px;
    background: lightgray;
}
.tabss{
    color:grey;
}

.btnss{
    margin-right:8px;
}
.selectOrg{
    /* width:300px; */
}
.Kontejner {
    margin-top:100px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 33%;
    
  }
  
.col25 {
    float: left;
    width: 25%;
    margin-top: 6px;
   
  }
  
.slct{

    width:250px;
  }
.col75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
.addL1{
      height: 800px;
      /* background-color: red; */
  }

.btv{

    margin-top:20px;
  }

/*==================*/
.kontejnerSuper{
/* background-color: red; */
background-color:  floralwhite;
height: 800px;
}
.dugmiciSuper{
    text-align: center;
    /* background-color:blue; */
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background:  rgb(236, 236, 247);
 
}

.radios{
    display: inline;
    margin: 10px 30px 10px 30px ;
    font-size: 18px;
}

.radiosWhole{
    margin:30px;
}
.vvv{
    float:right; margin-top:-50px;
}
.divv{
    height: 249px;
}

/*=================================RESPONSIVE=====================*/

@media screen and (max-width: 	1200px) {

    .items{
        margin-left:20%;
    }
    .selectOptions{
        width: 120px;
    }
    .alert{
        height: auto;
    }
  }

@media screen and (max-width: 	992px) {
  .sidebarFilter{
      height: auto;
  }
  .items{
      margin-left:10%;
  }
  .radios{
      padding: 0px;
      margin: 5px;
       
  }
  .orgTakm{
      height: auto;
      min-height: 800px;
  }
  
  .kontejnerSuper{
      height: auto;
      min-height: 800px;
  }
}


@media screen and (max-width: 	900px) {

   
  .headerNaslov{
      font-size: 40px; 
      font-weight: auto;
      letter-spacing: 4px;
      text-align:auto;
      margin-left:10px;
  }  
  .loginButton{
      margin-top:0px;
  }
  .home{
      overflow: auto;
      
  }
  .welcomeText{
      font-size: 17px;
  }
  .divButton{
      margin:auto;
  }
  .takmicenjeItem{
      height: auto;
  }
  .takmicenje{
      height: auto;
  }
  .sadrzaj{
      height: auto;
  }
}


@media screen and (max-width: 	500px) {
    .headerNaslov{
        font-size: 25px; 
        
    }  
    .kartice{
        height: auto;
    }
    .items{
        margin:0px;
    }
    .filterItem{
        margin:1px;
    }
    #tip {
        width:100px;
    }
    .sadrzaj{
        margin-top:60px;
    }
    
}
@media screen and (max-width: 	410px) {
    .headerNaslov{
        font-size: 23px; 
        
    }  
    .vvv{
        margin-top:-60px;
    }
}